<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/heladeros</property>
        <property name="hibernate.connection.username">travis</property>
        <property name="hibernate.connection.password"/>

        <property name="show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.max_fetch_depth">2</property>
        <property name="hibernate.show_sql">false</property>

        <mapping resource="pe/lamborgini/domain/hbm/HeladosEntregadoRecibido.hbm.xml"/>
        <mapping resource="pe/lamborgini/domain/hbm/StockHelado.hbm.xml"/>
        <mapping resource="pe/lamborgini/domain/hbm/Factura.hbm.xml"/>
        <mapping resource="pe/lamborgini/domain/hbm/Usuario.hbm.xml"/>
        <mapping resource="pe/lamborgini/domain/hbm/Helado.hbm.xml"/>
        <mapping resource="pe/lamborgini/domain/hbm/Concepto.hbm.xml"/>
        <mapping resource="pe/lamborgini/domain/hbm/ContratoHeladero.hbm.xml"/>
        <mapping resource="pe/lamborgini/domain/hbm/Concesionario.hbm.xml"/>
        <mapping resource="pe/lamborgini/domain/hbm/Heladero.hbm.xml"/>
        <mapping resource="pe/lamborgini/domain/hbm/PagoHelado.hbm.xml"/>
        <mapping resource="pe/lamborgini/domain/hbm/DetalleHelado.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
